:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    background-color: #e8e4d6;

}

h1 {
    text-align: center;
}

.score {
    text-align: start;
}

.turn,
.winner {
    text-align: center;
    margin-bottom: 50px;
}

a,
a:hover,
a:focus,
a:active,
a:visited {
    text-decoration: none;
    background: linear-gradient(to right, rgb(140, 0, 255) , rgb(0, 140, 255));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}